/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 
 *= require_tree .
 */

.center {
	position:absolute;
	left:700px;
	display: inline-block;
}


.logo {
	display: inline-block;
	margin-left: 600px;
}

.red {
	color: red;
}

.green {
	color: green;
}

a:hover {
 background-color:yellow;
}

.back-red {
	border-radius: 35px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(38%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1)));
    color: white;
    border: 2px solid brown;

}

.back-green {
	border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(68%,rgba(97,196,25,1)), color-stop(73%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1)));
    color: white;
    border: 2px solid black;

}

table {
    margin: 10px;
    border-spacing: 4px;
}

.table2 {
	background-color: black;
	border-radius: 25px;
}

.characters {
	font-family: fantasy;
	margin-left: 8px;
}

.characters2 {
	font-family: cursive;
	
}

.characters-title {
	font-family: fantasy;
	margin-left: 35%;
	margin-top: 10%;
}

.characters-day {
	font-family: cursive;
	margin-left: 35%;
}

.upmail {
	margin-top: 8px;
	font-family: cursive;
	background-color: blue;
	color: white;
}

.table-to-right {
	margin-left: 18px;
}