// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.characters-title2 {
	margin-left: 20%;
	margin-top: 10%;
	font-size: 90px;
}